# Cancelled Flights: Machine Learning Model

## Initial Processing of Data

In [1]:
# Importing libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
# Load the data (this is a cleaned already formatted dataset)
cancel_df = pd.read_csv("s3://final-project77/merged_cancelled.csv")
cancel_df.head()

,flight_id,mkt_carrier_fl_num,month,day_of_month,day_of_week,crs_elapsed_time,distance,cancelled,dep_time_blk2,arr_time_blk2,...,mkt_unique_carrier_g4,mkt_unique_carrier_ha,mkt_unique_carrier_nk,mkt_unique_carrier_ua,mkt_unique_carrier_wn,cancellation_code_a,cancellation_code_b,cancellation_code_c,cancellation_code_d,cancellation_code_e
0,332,4518,1,1,3,90,488,0,11,13,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,245,5357,1,1,3,105,462,0,6,7,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,278,1718,1,1,3,200,1188,0,7,11,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,680,5487,1,1,3,80,417,0,20,21,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1349,2152,1,30,4,90,512,0,21,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [3]:
# Get a list of columns to find outcome column (cancelled)
cancel_df.columns

Index(['flight_id', 'mkt_carrier_fl_num', 'month', 'day_of_month',
       'day_of_week', 'crs_elapsed_time', 'distance', 'cancelled',
       'dep_time_blk2', 'arr_time_blk2', 'origin_state_nm_california',
       'origin_state_nm_colorado', 'origin_state_nm_florida',
       'origin_state_nm_georgia', 'origin_state_nm_illinois',
       'origin_state_nm_new_york', 'origin_state_nm_north_carolina',
       'origin_state_nm_other', 'origin_state_nm_texas',
       'origin_state_nm_virginia', 'dest_state_nm_california',
       'dest_state_nm_colorado', 'dest_state_nm_florida',
       'dest_state_nm_georgia', 'dest_state_nm_illinois',
       'dest_state_nm_new_york', 'dest_state_nm_north_carolina',
       'dest_state_nm_other', 'dest_state_nm_texas', 'dest_state_nm_virginia',
       'mkt_unique_carrier_aa', 'mkt_unique_carrier_as',
       'mkt_unique_carrier_b6', 'mkt_unique_carrier_dl',
       'mkt_unique_carrier_f9', 'mkt_unique_carrier_g4',
       'mkt_unique_carrier_ha', 'mkt_unique_carrier_nk',
       'mkt_unique_carrier_ua', 'mkt_unique_carrier_wn', 'cancellation_code_a',
       'cancellation_code_b', 'cancellation_code_c', 'cancellation_code_d',
       'cancellation_code_e'],
      dtype='object')

In [4]:
# Drop the cancellation code columns
cancel_df = cancel_df.drop(['cancellation_code_a', 'cancellation_code_b', 'cancellation_code_c','cancellation_code_d', 'cancellation_code_e'], 1)
cancel_df

/Users/leahikenberry/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,flight_id,mkt_carrier_fl_num,month,day_of_month,day_of_week,crs_elapsed_time,distance,cancelled,dep_time_blk2,arr_time_blk2,...,mkt_unique_carrier_aa,mkt_unique_carrier_as,mkt_unique_carrier_b6,mkt_unique_carrier_dl,mkt_unique_carrier_f9,mkt_unique_carrier_g4,mkt_unique_carrier_ha,mkt_unique_carrier_nk,mkt_unique_carrier_ua,mkt_unique_carrier_wn
0,332,4518,1,1,3,90,488,0,11,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,245,5357,1,1,3,105,462,0,6,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,278,1718,1,1,3,200,1188,0,7,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,680,5487,1,1,3,80,417,0,20,21,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1349,2152,1,30,4,90,512,0,21,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745842,591117,2726,1,14,2,328,1979,0,8,10,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745843,591169,2784,1,14,2,136,762,0,16,18,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745844,591793,794,1,15,3,207,1306,0,16,18,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745845,592078,1116,1,15,3,115,591,0,14,15,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745846,592137,1161,1,15,3,101,432,0,14,16,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# Removing non beneficial columns
cancel_df = cancel_df.drop(['flight_id', 'mkt_carrier_fl_num'], 1)
cancel_df

/Users/leahikenberry/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,month,day_of_month,day_of_week,crs_elapsed_time,distance,cancelled,dep_time_blk2,arr_time_blk2,origin_state_nm_california,origin_state_nm_colorado,...,mkt_unique_carrier_aa,mkt_unique_carrier_as,mkt_unique_carrier_b6,mkt_unique_carrier_dl,mkt_unique_carrier_f9,mkt_unique_carrier_g4,mkt_unique_carrier_ha,mkt_unique_carrier_nk,mkt_unique_carrier_ua,mkt_unique_carrier_wn
0,1,1,3,90,488,0,11,13,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1,3,105,462,0,6,7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,1,3,200,1188,0,7,11,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,1,3,80,417,0,20,21,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,30,4,90,512,0,21,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745842,1,14,2,328,1979,0,8,10,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745843,1,14,2,136,762,0,16,18,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745844,1,15,3,207,1306,0,16,18,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745845,1,15,3,115,591,0,14,15,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745846,1,15,3,101,432,0,14,16,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
# Create our features
X = pd.get_dummies(cancel_df.drop('cancelled', axis=1))

# Create our target
y = cancel_df['cancelled']

# View X
X

,month,day_of_month,day_of_week,crs_elapsed_time,distance,dep_time_blk2,arr_time_blk2,origin_state_nm_california,origin_state_nm_colorado,origin_state_nm_florida,...,mkt_unique_carrier_aa,mkt_unique_carrier_as,mkt_unique_carrier_b6,mkt_unique_carrier_dl,mkt_unique_carrier_f9,mkt_unique_carrier_g4,mkt_unique_carrier_ha,mkt_unique_carrier_nk,mkt_unique_carrier_ua,mkt_unique_carrier_wn
0,1,1,3,90,488,11,13,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1,3,105,462,6,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,1,3,200,1188,7,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,1,3,80,417,20,21,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,30,4,90,512,21,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745842,1,14,2,328,1979,8,10,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745843,1,14,2,136,762,16,18,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745844,1,15,3,207,1306,16,18,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745845,1,15,3,115,591,14,15,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2745846,1,15,3,101,432,14,16,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Check the balance of our target values
y.value_counts()

0    2462921
1     282926
Name: cancelled, dtype: int64

In [8]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify = y)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Sampling Methods

### Naive Oversampling

In [10]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)

In [11]:
# Train the Logistic Regression model using the resampled data
regression = LogisticRegression(solver='lbfgs', random_state=1)
regression.fit(X_resampled, y_resampled)

y_pred = regression.predict(X_test_scaled)

In [12]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.7215835258717336

In [13]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
cm

array([[422634, 193096],
       [ 17204,  53528]])

In [14]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.96      0.69      0.76      0.80      0.72      0.52    615730
          1       0.22      0.76      0.69      0.34      0.72      0.52     70732

avg / total       0.88      0.69      0.75      0.75      0.72      0.52    686462

## Ensemble Learners

### Balanced Random Forest Classifier

In [15]:
# Fit the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

random_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
random_model = random_model.fit(X_train_scaled, y_train)
random_model

BalancedRandomForestClassifier(random_state=1)

In [16]:
# Calculated the balanced accuracy score
predictions = random_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, predictions)

0.8996919470475075

In [17]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

array([[529419,  86311],
       [  4275,  66457]])

In [18]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.86      0.94      0.92      0.90      0.80    615730
          1       0.44      0.94      0.86      0.59      0.90      0.81     70732

avg / total       0.93      0.87      0.93      0.89      0.90      0.80    686462

In [19]:
# List the features sorted in descending order by feature importance
for i in sorted(zip(random_model.feature_importances_, X.columns), reverse=True):
    print(f'{i[1]}: ({i[0]})')

month: (0.4556561570255134)
day_of_month: (0.14190818093290605)
distance: (0.08362741558076563)
crs_elapsed_time: (0.08052890003994562)
day_of_week: (0.04696098371597546)
dep_time_blk2: (0.046692116304955976)
arr_time_blk2: (0.04648242734295018)
mkt_unique_carrier_g4: (0.00890929114987475)
mkt_unique_carrier_wn: (0.00787666467282297)
dest_state_nm_other: (0.005658805495497735)
origin_state_nm_other: (0.005550714200525648)
mkt_unique_carrier_dl: (0.004994933562601571)
mkt_unique_carrier_aa: (0.004774018973780399)
dest_state_nm_illinois: (0.004164728908241356)
origin_state_nm_illinois: (0.004032159776636454)
dest_state_nm_texas: (0.00359697934164622)
origin_state_nm_texas: (0.0035757617048617213)
mkt_unique_carrier_ua: (0.0034150788209211165)
mkt_unique_carrier_as: (0.003127499682252101)
dest_state_nm_california: (0.0030195476949972525)
origin_state_nm_california: (0.0029706631262478695)
origin_state_nm_florida: (0.0027228061959090532)
dest_state_nm_florida: (0.00268971725455219)
mkt_unique_carrier_nk: (0.0026086792377543674)
origin_state_nm_colorado: (0.002284920752611591)
dest_state_nm_colorado: (0.002266228769730594)
origin_state_nm_north_carolina: (0.0022376095972241766)
dest_state_nm_new_york: (0.002173339364029979)
origin_state_nm_new_york: (0.002158227229203818)
dest_state_nm_north_carolina: (0.00214530854015787)
dest_state_nm_virginia: (0.0021081262231904757)
origin_state_nm_virginia: (0.0020280231090307687)
origin_state_nm_georgia: (0.0017995740188359276)
dest_state_nm_georgia: (0.0017761566688349248)
mkt_unique_carrier_b6: (0.0015631966892128578)
mkt_unique_carrier_f9: (0.0010658019463764816)
mkt_unique_carrier_ha: (0.0008492563494257182)